language: node_js
node_js:
  - "16"
  - "18"
  - "20"

cache: npm

before_install:
  - npm install -g npm@latest

install:
  - npm ci

script:
  - npm run test -- --coverage --ci --watchAll=false --passWithNoTests
  - npm run build

jobs:
  include:
    - stage: test
      script:
        - npm run test -- --coverage --ci --watchAll=false --passWithNoTests
    - stage: build
      script:
        - npm run build
    - stage: deploy
      if: branch = master OR branch = main
      script:
        - npm run build
      deploy:
        provider: pages
        cleanup: false
        token: $GITHUB_TOKEN
        local_dir: build
        on:
          all_branches: true

notifications:
  email:
    on_success: change
    on_failure: always

env:
  - CI=true