language: node_js
node_js:
  - "14"
  - "16"
  - "18"

cache:
  directories:
    - node_modules

before_install:
  - npm install -g npm@latest

install:
  - npm ci

script:
  - npm run test -- --coverage --ci --watchAll=false
  - npm run build

after_success:
  - npm run build

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  local_dir: build
  on:
    all_branches: true
    condition: $TRAVIS_BRANCH =~ ^(master|main)$

notifications:
  email:
    on_success: change
    on_failure: always

env:
  - CI=true